# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. python
2. SQL
3. R

**Some of the commonly used libraries used by Data Scientists include:**
    
 1. TensorFlow. 
 2. SciPy. 
 3. NumPy. 
 4. Pandas. 
 5. Pytorch

**Data Science Tools**
|Data Science Tools|
|-|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

## Author 
name : Chuang, Hao-Wei